.main-square {
    background: rgb(57, 56, 56);
}

.main-sign-in {
    color: white;
}

.input-main-text {
    background-color: rgb(57, 56, 56);
}

.checkbox-custom {
    background-color: rgb(57, 56, 56);
}

.agree {
    color: white;
}