.main-square {
    background: white;
}

.main-sign-in {
    color: black;
}

.input-main-text {
    background-color: white;
}

.checkbox-custom {
    background-color: white;
}

.agree {
    color: black;
}